:root {
    --verde: #BCDF5D;
    --azul: #3A437A;
}

.bg-principal {
    background-color: var(--verde) !important;
}

.bg-secundario {
    background-color: var(--azul) !important;
}

.text-principal {
    color: var(--azul) !important;
}

.text-secundario {
    color: var(--verde) !important;
}

.white-text-normal {
    white-space: normal !important;
}

.bg-height-top {
    height: 170px;
}

.bg-gray-2 {
    background-color: #eee;
}

.card-body {
    background-color: #fafafa;
}

.btn-flutuante-1, .btn-flutuante-2 {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.btn-flutuante-1 {
    bottom: 40px;
}

.btn-flutuante-2 {
    bottom: 120px;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
    padding-left: 1.75rem;
    padding-top: 0.25rem;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle='collapse']:after {
    color: inherit;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-left: 0 solid white;
    border-right: 0 solid #f5f5f5;
}

/* Works on Firefox */
#sidenav-main {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
#sidenav-main::-webkit-scrollbar {
    width: 8px;
}

#sidenav-main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#sidenav-main::-webkit-scrollbar-thumb {
    background-color: rgba(185, 185, 185, 0.73);
    border-radius: 20px;
    /*border: 3px solid #c4c4c4;*/
}
